<p>
    <a routerLink="/admin/products/new" class="btn btn-primary new_prod">New Product</a>
</p>

<p>
    <input type="text" class="form-control" #query placeholder="Search...." (keyup)="filter(query.value)">
</p>

<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>{{product.payload.val().title}}</td>
            <td>{{product.payload.val().price}}</td>
            <td><a class="edit" [routerLink]="['/admin/products/',product.key]">Edit</a></td>
        </tr>
    </tbody>
</table>